<svg class="img-responsive" id="workflow-article" width="1029pt" height="256pt"
 viewBox="0.00 0.00 1029.00 256.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 252)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-252 1025,-252 1025,4 -4,4"/>
<!-- place_draft -->
<g id="node1" class="node">
<title>place_draft</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-123.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-121.4746" font-family="Arial" font-size="9.00" fill="#000000">draft</text>
</g>
<!-- transition_request_review -->
<g id="node7" class="node">
<title>transition_request_review</title>
<polygon fill="none" stroke="#333333" points="266,-181 151,-181 151,-66 266,-66 266,-181"/>
<text text-anchor="middle" x="208.5" y="-121.4746" font-family="Arial" font-size="9.00" fill="#000000">request_review</text>
</g>
<!-- place_draft&#45;&gt;transition_request_review -->
<g id="edge1" class="edge">
<title>place_draft&#45;&gt;transition_request_review</title>
<path fill="none" stroke="#333333" d="M115.0174,-123.5C125.0246,-123.5 135.4794,-123.5 145.6214,-123.5"/>
<polygon fill="#333333" stroke="#333333" points="145.8926,-125.2501 150.8925,-123.5 145.8925,-121.7501 145.8926,-125.2501"/>
</g>
<!-- place_wait_for_journalist -->
<g id="node2" class="node">
<title>place_wait_for_journalist</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-188.4746" font-family="Arial" font-size="9.00" fill="#000000">wait_for_journalist</text>
</g>
<!-- transition_journalist_approval -->
<g id="node8" class="node">
<title>transition_journalist_approval</title>
<polygon fill="none" stroke="#333333" points="568,-248 453,-248 453,-133 568,-133 568,-248"/>
<text text-anchor="middle" x="510.5" y="-188.4746" font-family="Arial" font-size="9.00" fill="#000000">journalist_approval</text>
</g>
<!-- place_wait_for_journalist&#45;&gt;transition_journalist_approval -->
<g id="edge4" class="edge">
<title>place_wait_for_journalist&#45;&gt;transition_journalist_approval</title>
<path fill="none" stroke="#333333" d="M417.0174,-190.5C427.0246,-190.5 437.4794,-190.5 447.6214,-190.5"/>
<polygon fill="#333333" stroke="#333333" points="447.8926,-192.2501 452.8925,-190.5 447.8925,-188.7501 447.8926,-192.2501"/>
</g>
<!-- place_approved_by_journalist -->
<g id="node3" class="node">
<title>place_approved_by_journalist</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-188.4746" font-family="Arial" font-size="9.00" fill="#000000">approved_by_journalist</text>
</g>
<!-- transition_publish -->
<g id="node10" class="node">
<title>transition_publish</title>
<polygon fill="none" stroke="#333333" points="870,-181 755,-181 755,-66 870,-66 870,-181"/>
<text text-anchor="middle" x="812.5" y="-121.4746" font-family="Arial" font-size="9.00" fill="#000000">publish</text>
</g>
<!-- place_approved_by_journalist&#45;&gt;transition_publish -->
<g id="edge8" class="edge">
<title>place_approved_by_journalist&#45;&gt;transition_publish</title>
<path fill="none" stroke="#333333" d="M714.3125,-167.0667C725.8749,-161.9363 738.2199,-156.4587 750.1166,-151.18"/>
<polygon fill="#333333" stroke="#333333" points="750.9671,-152.7173 754.8277,-149.0897 749.5476,-149.518 750.9671,-152.7173"/>
</g>
<!-- place_wait_for_spellchecker -->
<g id="node4" class="node">
<title>place_wait_for_spellchecker</title>
<ellipse fill="none" stroke="#333333" cx="359.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="359.5" y="-55.4746" font-family="Arial" font-size="9.00" fill="#000000">wait_for_spellchecker</text>
</g>
<!-- transition_spellchecker_approval -->
<g id="node9" class="node">
<title>transition_spellchecker_approval</title>
<polygon fill="none" stroke="#333333" points="568,-115 453,-115 453,0 568,0 568,-115"/>
<text text-anchor="middle" x="510.5" y="-55.4746" font-family="Arial" font-size="9.00" fill="#000000">spellchecker_approval</text>
</g>
<!-- place_wait_for_spellchecker&#45;&gt;transition_spellchecker_approval -->
<g id="edge6" class="edge">
<title>place_wait_for_spellchecker&#45;&gt;transition_spellchecker_approval</title>
<path fill="none" stroke="#333333" d="M417.0174,-57.5C427.0246,-57.5 437.4794,-57.5 447.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="447.8926,-59.2501 452.8925,-57.5 447.8925,-55.7501 447.8926,-59.2501"/>
</g>
<!-- place_approved_by_spellchecker -->
<g id="node5" class="node">
<title>place_approved_by_spellchecker</title>
<ellipse fill="none" stroke="#333333" cx="661.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="661.5" y="-55.4746" font-family="Arial" font-size="9.00" fill="#000000">approved_by_spellchecker</text>
</g>
<!-- place_approved_by_spellchecker&#45;&gt;transition_publish -->
<g id="edge9" class="edge">
<title>place_approved_by_spellchecker&#45;&gt;transition_publish</title>
<path fill="none" stroke="#333333" d="M714.3125,-80.5836C725.8749,-85.6374 738.2199,-91.0332 750.1166,-96.2331"/>
<polygon fill="#333333" stroke="#333333" points="749.5453,-97.8932 754.8277,-98.2922 750.9471,-94.6861 749.5453,-97.8932"/>
</g>
<!-- place_published -->
<g id="node6" class="node">
<title>place_published</title>
<ellipse fill="none" stroke="#333333" cx="963.5" cy="-123.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="963.5" y="-121.4746" font-family="Arial" font-size="9.00" fill="#000000">published</text>
</g>
<!-- transition_request_review&#45;&gt;place_wait_for_journalist -->
<g id="edge2" class="edge">
<title>transition_request_review&#45;&gt;place_wait_for_journalist</title>
<path fill="none" stroke="#333333" d="M266.0174,-149.021C277.7898,-154.2445 290.1816,-159.7428 301.955,-164.9668"/>
<polygon fill="#333333" stroke="#333333" points="301.3279,-166.603 306.608,-167.0314 302.7475,-163.4038 301.3279,-166.603"/>
</g>
<!-- transition_request_review&#45;&gt;place_wait_for_spellchecker -->
<g id="edge3" class="edge">
<title>transition_request_review&#45;&gt;place_wait_for_spellchecker</title>
<path fill="none" stroke="#333333" d="M266.0174,-98.36C277.7898,-93.2144 290.1816,-87.7981 301.955,-82.6521"/>
<polygon fill="#333333" stroke="#333333" points="302.7274,-84.2244 306.608,-80.6184 301.3256,-81.0174 302.7274,-84.2244"/>
</g>
<!-- transition_journalist_approval&#45;&gt;place_approved_by_journalist -->
<g id="edge5" class="edge">
<title>transition_journalist_approval&#45;&gt;place_approved_by_journalist</title>
<path fill="none" stroke="#333333" d="M568.0174,-190.5C578.0246,-190.5 588.4794,-190.5 598.6214,-190.5"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-192.2501 603.8925,-190.5 598.8925,-188.7501 598.8926,-192.2501"/>
</g>
<!-- transition_spellchecker_approval&#45;&gt;place_approved_by_spellchecker -->
<g id="edge7" class="edge">
<title>transition_spellchecker_approval&#45;&gt;place_approved_by_spellchecker</title>
<path fill="none" stroke="#333333" d="M568.0174,-57.5C578.0246,-57.5 588.4794,-57.5 598.6214,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="598.8926,-59.2501 603.8925,-57.5 598.8925,-55.7501 598.8926,-59.2501"/>
</g>
<!-- transition_publish&#45;&gt;place_published -->
<g id="edge10" class="edge">
<title>transition_publish&#45;&gt;place_published</title>
<path fill="none" stroke="#333333" d="M870.0174,-123.5C880.0246,-123.5 890.4794,-123.5 900.6214,-123.5"/>
<polygon fill="#333333" stroke="#333333" points="900.8926,-125.2501 905.8925,-123.5 900.8925,-121.7501 900.8926,-125.2501"/>
</g>
</g>
</svg>
